$page-head-height: 90px - spacing(double);

.page-head {
  @include clearfix;
  line-height: $page-head-height;

  .container {
    padding-top: spacing();
    padding-bottom: spacing();
    border-bottom: 1px solid $color-grey-x-light;
  }

  &__logo {
    min-width: 100%;
    vertical-align: middle;

    img {
      display: block;
      min-width: 100%;
    }

    &-wrapper {
      position: relative;
      display: inline-block;
      float: left;
      vertical-align: middle;
      width: 100px;
    }

    &-link {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

}
