/**
 * Apply box-sizing here, then inherit.
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  min-height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/**
 * Page level styles.
 *
 * 1. Use advanced typographic features included in some OpenType fonts.
 * 2. Prevent certain mobile browsers from automatically zooming fonts.
 * 3. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
body {
  font: #{$base-font-size}/#{$line-height-ratio} $font-family-primary;
  color: $body-color;
  font-feature-settings: "kern", "liga", "pnum"; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
      -ms-text-size-adjust: 100%; /* 2 */
  -moz-osx-font-smoothing: grayscale;   /* 3 */
   -webkit-font-smoothing: antialiased; /* 3 */
}

/**
 * Container set up.
 */
.container {
  @include outer-container;
  padding: 0 spacing();

  @include media($trenta) {
    padding: 0;
  }
}

hr.break {
  @include outer-container;
  border: none;
  border-bottom: 1px solid $color-grey-x-light;
}
